.round { 
    border-radius: 50%; 
    width: 150px;
    height: 150px;
    margin-left: 30%;
    margin-right: 25%;
    // padding: 30px;
    background: #30444A;
}

.avatar {
    font-size: 100px;
    padding: 12px;
    color: white;
    padding-left: 20px;
    margin: 20px;
}