
.background {

    --background: url('/assets/images/signup-bg-01.jpg')  no-repeat cover fixed center;
    background: url('/assets/images/signup-bg-01.jpg') no-repeat fixed center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 30px;
  }

  .ion-content {
      position: fixed;
      margin-top: 280px;
    //   margin-left: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ion-input {
      background-color: white;
      border-radius: 5px;
      font-size: small;
  }