<ion-content fullscreen  scroll-y="false" class="background">
  <ion-slides>

    <ion-slide>
      <div class="slide" style="height: 100%;">
        <h2>Travel with Hassle Free</h2>
        <p>Choose among hundreds of departures with seat selection & instant confirmation.</p>
        <img src="assets/images/slide-2.jpg"/>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide" style="height: 100%;">
        <h2>Easy to Book & Pay</h2>
        <p>We have a variety of payment methods for you either online or offline.</p>
        <img src="assets/images/slide-2.jpg"/>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide" style="height: 100%;">
        <h2>Scan for Boarding & Rewards</h2>
        <p>Just show your QR code, and the rest will be taken care of</p>
        <img src="assets/images/slide-2.jpg"/>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide" style="height: 100%;">
        <h2>We have your back!</h2>
        <p>Our support team is ready to assist you to make the most of your trip.</p>
        <img src="assets/images/slide-2.jpg"/>
      </div>
    </ion-slide>

    

    <!-- <ion-slide>
      <h2>Ready to Play?</h2>
      <img src="./slide-4.png"/>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide> -->

  </ion-slides>
</ion-content>

<ion-footer class="background">
  <ion-toolbar>
    <ion-button style="--background: #404B6A; margin-top: 10px;" (click)="onBtnGetStartedClicked()" expand="block"  shape="round">
      GET STARTED
    </ion-button>
    <p style="font-size: 12px;">By proceeding, you aggree to our <b style="color: blue;">Term and condition</b></p>
  </ion-toolbar>
</ion-footer>