<app-header [title]="'Language'" ></app-header>

<ion-content>
  <ion-list>
    <ion-radio-group name="auto" [(ngModel)]="selectedLanguage">
      <ion-list-header>
        <ion-label>{{'LANGUAGE.LABEL.PLEASE_CHOOSE_LANGUAGE' | translate}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>English</ion-label>
        <ion-radio value="en"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Khmer</ion-label>
        <ion-radio value="kh"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <!-- <ion-item>
    <ion-label>English</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Khmer</ion-label>
  </ion-item> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onNextClick()" expand="block" shape="round">
      Next
    </ion-button>
  </ion-toolbar>
</ion-footer>